<h2>Chart Project</h2>

<label>
  Value:
  <input type="number" [formControl]="inputValue" >
</label>
<button (click)="add('Add')" > Add </button>
<button  (click)="multiply('Multiply')"  > Multiply </button>
<button (click)="divide('Divide')"  > Divide </button>
<button (click)="subtract()"  > Subtract </button>
<div class="chart-wrapper">
  <canvas baseChart
  [datasets]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [plugins]="barChartPlugins"
  [legend]="barChartLegend"
  [chartType]="barChartType">
</canvas>
</div>

<router-outlet></router-outlet>
